<div class="row record">
  <div class="col-lg-4 left" >
    <b><%= link_to election.title, election_path(election.id) %></b>
  </div>
  <div class="col-lg-8 right" >
    <%= election.description %><br>
    <b> deadline for Registration : </b><%= election.deadline_for_registration.strftime('%d %b %Y %H:%M') %><br>
    <b> election will start on : </b><%= election.start_time.strftime('%d %b %Y') %><b> around </b><%= election.start_time.strftime('%H:%M') %><br>
    <b> election will end on : </b><%= election.end_time.strftime('%d %b %Y') %><b> around </b><%= election.end_time.strftime('%H:%M') %><br>
    <b> status : </b>
      <% if election.status == "live" %>
        <span style="color:green">live</span>
      <% elsif election.status == "waiting" %>
        <span style="color:#8A91EF">waiting</span>
      <% else %>
        <span style="color:red">suspended</span>
      <% end %><br>
    <% if election.admin == current_user %>
      <b> approval status : </b> <%= election.approval_status %>
    <% end %><br>  
      <%= render partial: 'admin/election_management',locals: { election: election }%>
  </div>
</div>
