
<%= javascript_pack_tag 'election', 'data-turbolinks-track': 'reload' %>

<%
=begin%>
 <%= javascript_tag do %>
    window.p = "<%= @election.title %>";
<% end %> 
<%
=end%>


<% if flash[:errors] %>
    <% flash[:errors].each do |e|%>
        <%= e %>
    <% end %>
<% end %>


<%= form_with model:@election do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :description %><br/>
        <%= f.text_area :description %>
    </div>

    <div>
        <%= f.label :additional_information %>
        <%= f.text_field :additional_information %>
    </div>

    <div>
        <%= f.label :deadline_for_registration %>
        <%= f.datetime_local_field :deadline_for_registration, min:DateTime.now.change(:sec => 0), max:DateTime.current+1.year, id: "deadline" %>

    </div>

    <div>
        <%= f.label :start_time %>
        <%= f.datetime_local_field :start_time, min:DateTime.now.change(:sec => 0), max:DateTime.current+1.year, id: "start_time" %>
    </div>

    <div>
        <%= f.label :end_time %>
        <%= f.datetime_local_field :end_time, min:DateTime.now.change(:sec => 0), max:DateTime.now+1.year, id: "end_time"%>
    </div>

    <div>
        <%= f.submit "submit", id: "submit"%>
    </div>

    <div style="color:red" id="error"></div>
<% end %>