<h5>pending payments</h5>
<% if @payments.present? %>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <% if current_user.has_role? :super_admin %>
            <th scope="col">candidate</th>
          <% end %>
            <th scope="col">election</th>
            <th scope="col">amount(INR)</th>
            <th scope="col">status</th>
            <th scope="col">options</th>
        </tr>
      </thead>
      <tbody>
        <% @payments.each do |payment| %>
        <tr>
          <% if current_user.has_role? :super_admin %>
            <td><%= payment.user.user_name %></td>
          <% end %>
          <td><%= payment.election.title %></td>
          <td><%= payment.amount %></td>
          <td><%= payment.status %></td>
          <% if !current_user.has_role? :super_admin or current_user == payment.user %>
            <td><%= link_to "pay now", new_charge_path(election_id: payment.election_id) %>
          <% end %>
            
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <P style="color:red">No Record Found!!!</p>
<% end %>


