<!DOCTYPE html>
<html>
  <head>
    <title>Electo</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--bootstrap through webpacker-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <% if flash.key?(:errors) %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:errors] %>
      </div>
    <% end %>
    <% if flash.key?(:status) %>
      <div class="alert alert-success" role="alert">
        <%= flash[:status] %>
      </div>
    <% end %>
    <% if notice %>
      <p class="notice alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert alert-warning"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>